<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>aksi_siswa</servlet-name>
        <servlet-class>control_aksi.aksi_siswa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aksi_ruang_kelas</servlet-name>
        <servlet-class>control_aksi.aksi_ruang_kelas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aksi_wali_murid</servlet-name>
        <servlet-class>control_aksi.aksi_wali_murid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aksi_jadwal_mengajar</servlet-name>
        <servlet-class>control_aksi.aksi_jadwal_mengajar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aksi_admin</servlet-name>
        <servlet-class>control_aksi.aksi_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aksi_tata_usaha</servlet-name>
        <servlet-class>control_aksi.aksi_tata_usaha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aksi_jadwal_pelajaran</servlet-name>
        <servlet-class>control_aksi.aksi_jadwal_pelajaran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aksi_spp</servlet-name>
        <servlet-class>control_aksi.aksi_spp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aksi_mata_pelajaran</servlet-name>
        <servlet-class>control_aksi.aksi_mata_pelajaran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aksi_guru</servlet-name>
        <servlet-class>control_aksi.aksi_guru</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nilai</servlet-name>
        <servlet-class>control_aksi.nilai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aksi_nilai_siswa</servlet-name>
        <servlet-class>control_aksi.aksi_nilai_siswa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>aksi_siswa</servlet-name>
        <url-pattern>/aksi_siswa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksi_ruang_kelas</servlet-name>
        <url-pattern>/aksi_ruang_kelas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksi_wali_murid</servlet-name>
        <url-pattern>/aksi_wali_murid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksi_jadwal_mengajar</servlet-name>
        <url-pattern>/aksi_jadwal_mengajar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksi_admin</servlet-name>
        <url-pattern>/aksi_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksi_tata_usaha</servlet-name>
        <url-pattern>/aksi_tata_usaha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksi_jadwal_pelajaran</servlet-name>
        <url-pattern>/aksi_jadwal_pelajaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksi_spp</servlet-name>
        <url-pattern>/aksi_spp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksi_mata_pelajaran</servlet-name>
        <url-pattern>/aksi_mata_pelajaran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksi_guru</servlet-name>
        <url-pattern>/aksi_guru</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nilai</servlet-name>
        <url-pattern>/nilai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksi_nilai_siswa</servlet-name>
        <url-pattern>/aksi_nilai_siswa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
